header {
    height: 200px;
    background: linear-gradient(to bottom right, white, pearl);
    background: white;
    margin: 0;
    display: flex;
    padding: 2% 20%;
    border-bottom: 1px solid darkslategrey;
    font-family: "Cabin";
    
}

header div {
    height: 150px;
    width: 160px;
    background: url("Montaz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 10px inset lavender;
    margin-right: 20px;
}

header p {
    max-width: 600px;
    color: rgb(51, 51, 51);
    font-size: 21px;
    line-height: 33px;
    align-self: center;
}

header span {
    border-bottom: 2px solid lavender;
    font-family: "Roboto Condensed";
    font-size: 22px;
}