header div {
    border-color: #1da1f2;
}
body {
    margin: 0;
    background-color: rgb(245, 248, 250);
    font-family: "Helvetica Neue";
}

a {
    text-decoration: none;
    color: #1da1f2;
}

a:hover {
    text-decoration: underline;
}
nav {
    /* height: 46px; */
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center; 
    text-align: center;
    background: white;
    grid-template-areas: "socialLinks logo search "
    
}

nav i {
    font-size: 22px;
    margin: 0 10px;
    color: (102, 117, 127); 
}

nav input {
    padding: 7px;
    width: 221px;
    border-radius: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: rgb(245, 248, 250);
}

nav button {
    background: #1da1f2;
    color: white !important;
}

nav ::placeholder {
    color: rgb(102, 117, 127);
    font-size: 12px;
}

#socialLinks {
    color: rgb(102, 117, 127);
    grid-area: socialLinks;
}

#socialLinks i {
    line-height: 40px;
    border-bottom: 2px solid rgba(0,0,0,0);
    cursor: pointer;
    color: #333;
}

#socialLinks i span {
    font-family: "Helvetica Neue";

}

#socialLinks i:hover {
    color: #333;
    border-bottom: 2px solid #333;
    transition: 200ms;
}

#logo {
    grid-area: logo;
}

i.fa-twitter {
    color: #1da1f2;
}
i span {
    font-size: 14px;
}

#search {
    grid-area: search;
}

#splash {
    background: url("splash.jpg");
    height: 380px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#profilePic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: -200px;
    border: 5px solid white;
    
}

#follow {
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 3px 0px;
    background: white;
    padding-left: 10px;
    padding-right: 10px;

}

#follow > div {
    height: 60px;
    display: grid;
    max-width: 1190px;
    margin: 0 auto;
    /* padding: 0 70px; */
    /* grid-template-columns: 23% 54% 23%; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "left middle middle right";
}

main {
    display: grid;
    max-width: 1190px;
    margin: 0 auto;
    /* grid-template-columns: 23% 54% 23%; */

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "left middle middle right"
        ". middle middle ."
        ". middle middle .";

}
#follow .left {
    height: 60px;
    display: flex;
    justify-content: center;
    /* width: 290px; */
    /* margin: 0 0 0 auto; */
    grid-area: left;
}
#follow .middle {
    display: flex;
    height: 60px;
    grid-area: middle;
}

#follow .middle div {
    padding: 14px;
    text-align: center;
    position: relative;
    bottom: 15px; 
}

#follow .middle h3 {
    font-size: 12px;
    color: #657786;
    margin-bottom: 0;
}

#follow .middle span {
    font-size: 21px;
    font-weight: 600;
    border-bottom: 3px solid rgba(0,0,0,0);
    padding-bottom: 7px; 
    cursor: pointer;
}

#follow .middle span:hover {
    border-bottom: 3px solid #1da1f2;
    transition: 200ms;
    color: #1da1f2;
}
#follow .middle span.accentColor {
    border-bottom: 3px solid #1da1f2;
    transition: 200ms;
}

#follow .right {
    height: 60px;
    display: flex;
    align-items: center; 
    justify-content: center;
    /* width: 290px; */
    /* margin: 0 auto 0 0; */
    grid-area: right;
}

#follow button {
    
    background: white;
    color: #1da1f2;
    width: 105px;
    height: 35px;
}

.button {
    padding: 6px 16px;
    font-size: 14px;
    border-radius: 100px;
    border: 1px solid #1da1f2;
}

.accentColor {
    color: #1da1f2;
}

.meta {
    color: rgb(101, 119, 134);
}

main {
    margin-top: 10px;
    
}

main .middle {
    background: white;
    margin-left: 15px;
    /* margin-right: 15px; */
    grid-area: middle;
   
}

main .middle div {
    display: flex;
    margin-bottom: 1px;
}

main .middle div h2 {
    margin: 15px;
    font-size: 18px;
}

.avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin: 0 10px;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}

i.fa-badge-check {
    font-size: 15px;
    vertical-align: text-top;
    margin: 0 3px;
    color: #1da1f2;
}
.stack {
    display: flex;
    flex-direction: column;
}


#img01 {
    background: url(class.jpg);
    background-size: cover;
    background-position-x: 68px;
    background-repeat: no-repeat;
    height: 506px;
    width: 100%;
}

#tools {
    padding-left: 68px;
    padding-top: 10px;
    margin-bottom: 15px;
}

#tools .fa-comment {
    transform: scaleX(-1);
}

#tools i {
    margin: 0 7px 0 15px ; 
    font-size: 18px;
}

#tools span {
    font-size: 15px;
    font-weight: bold;
}

main .left {
    position: relative;
    /* width: 290px; */
    /* margin: 0 0 0 auto; */
    grid-area: left;
    padding-left: 10px;
    background: #fff;
    box-sizing: border-box;
    margin-left: 15px;
}

.left h2 {
    margin-bottom: 0;
}

#leftButton {
    background: #1da1f2;
    color: white;
    margin-left: 15px;
}


main .right {
    /* width: 290px; */
    /* margin: 0 auto 0 0; */
    grid-area: right;
    margin-left: 15px;
}
.who {
    display: flex;
    /* align-items: center; */
    background: white;
    padding: 15px;
    flex-direction: row;
    margin-bottom: 1px;
}
.who > div {
    display: flex;
    flex-direction: column;
}
.who > div > div {
    display: flex;

}
.who h3, .who h4 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px; 
}

.who .accentColor {
    align-self: center;
}

.who .meta {
    font-size: 12px;
    align-self: baseline;
    position: relative;
    top: 3px;
}
.who a {
    color: #333;
}

.who a:hover {
    color: #1da1f2;
    text-decoration-color: #1da1f2;
}
.who button {
    width: 89px;
    border-radius: 100px;
    background: white;
    align-self: flex-start !important;
    cursor: pointer;
}

button:hover {
    background: #1da0f22f;
}


@media only screen and (max-width: 1200px) {
    #follow > div {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "left middle right .";
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "left middle middle"
            "right middle middle"
            ". middle middle";
        margin-right: 15px;
    }

   
}

@media only screen and (max-width: 1100px) {
    #follow > div {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "middle right";
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "left right"
            "middle middle"
            "middle middle";
    }

    main .right {
        background: white;
    }

    main .middle {
        border-top: 1px solid #ddd;
    }

    #profilePic {
        top: -300px;
    }
}

@media only screen and (max-width: 1000px) {
    nav {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "logo search search search"
            "socialLinks socialLinks socialLinks socialLinks";
    }

}


@media only screen and (max-width: 778px) {
    #img01 {
        background-position: initial;

    }
}

@media only screen and (max-width: 600px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "left left"
            "middle middle"
            "middle middle";
            margin: 0;
    }

    main .left, main .middle {
        margin-left: 0;
        padding-left: 0;
    }

    main h2, main p {
        text-align: center;
    }

    main #leftButton {
        display: flex;
        justify-self: center;
        margin: 50px auto 0  auto !important;
        align-items: initial;
    }

    main .right {
        display: none;
    }

    .who a {
        margin-top: 10px;
    }

    #img01 {
        /* background-size: contain; */
        height: 300px;
    }

    .right button {
        padding: 6px 10px;
        width: initial !important;
    }
}

@media only screen and (max-width: 475px) {
    #logo, #socialLinks, #search i {
        display: none;
    }

    nav {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "search";
        background: #333;
        padding: 10px 0;
    }

}