body {
    margin: 0;
    background-color: rgb(245, 248, 250);
    font-family: "Helvetica Neue";
}

a {
    text-decoration: none;
    color: #1da1f2;
}

a:hover {
    text-decoration: underline;
}
nav {
    height: 46px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    align-items: center; 
    text-align: center;
    background: white;
}

nav i {
    font-size: 22px;
    margin: 0 10px;
    color: (102, 117, 127); 
}

nav input {
    padding: 7px;
    width: 221px;
    border-radius: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: rgb(245, 248, 250);
}

nav button {
    background: #1da1f2;
    color: white !important;
}

nav ::placeholder {
    color: rgb(102, 117, 127);
    font-size: 12px;
}

#socialLinks {
    color: rgb(102, 117, 127);
}

#socialLinks i {
    line-height: 40px;
    border-bottom: 2px solid rgba(0,0,0,0);
    cursor: pointer;
}

#socialLinks i:hover {
    color: black;
    border-bottom: 2px solid black;
    transition: 200ms;
}
i.fa-twitter {
    color: #1da1f2;
}
i span {
    font-size: 14px;
}

#splash {
    background: url("splash.jpg");
    height: 380px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#profilePic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    bottom: -86px;
    left: 91px; 
    border: 5px solid white;
    
}

#follow {
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 3px 0px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    /* padding: 0 70px; */
    background: white;
}

main {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
#follow .left {
    height: 60px;
}
#follow .middle {
    display: flex;
    height: 60px;
}

#follow .middle div {
    padding: 14px;
    text-align: center;
    position: relative;
    bottom: 15px; 
}

#follow .middle h3 {
    font-size: 12px;
    color: #657786;
    margin-bottom: 0;
}

#follow .middle span {
    font-size: 21px;
    font-weight: 600;
    border-bottom: 3px solid rgba(0,0,0,0);
    padding-bottom: 7px; 
    cursor: pointer;
}

#follow .middle span:hover {
    border-bottom: 3px solid #1da1f2;
    transition: 200ms;
    color: #1da1f2;
}
#follow .middle span.accentColor {
    border-bottom: 3px solid #1da1f2;
    transition: 200ms;
}

#follow .right {
    height: 60px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

#follow button {
    
    background: white;
    color: #1da1f2;
    width: 105px;
    height: 35px;
}

.button {
    padding: 6px 16px;
    font-size: 14px;
    border-radius: 100px;
    border: 1px solid #1da1f2;
}

.accentColor {
    color: #1da1f2;
}

.meta {
    color: rgb(101, 119, 134);
}

main {
    margin-top: 10px;
}

main .middle {
    background: white;
    margin-left: 15px;
    margin-right: 15px;
}

main .middle div {
    display: flex;
    margin-bottom: 1px;
}

main .middle div h2 {
    margin: 15px;
    font-size: 18px;
}

.avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin: 0 10px;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}

i.fa-badge-check {
    font-size: 15px;
    vertical-align: text-top;
    margin: 0 3px;
    color: #1da1f2;
}
.stack {
    display: flex;
    flex-direction: column;
}


#img01 {
    background: url(class.jpg);
    background-size: cover;
    background-position-x: 68px;
    background-repeat: no-repeat;
    height: 506px;
    width: 100%;
}

#tools {
    padding-left: 68px;
    padding-top: 10px;
    margin-bottom: 15px;
}

#tools .fa-comment {
    transform: scaleX(-1);
}

#tools i {
    margin: 0 7px 0 15px ; 
    font-size: 18px;
}

#tools span {
    font-size: 15px;
    font-weight: bold;
}

main .left {
    width: 290px;
    margin: 0 0 0 auto;
}

.left h2 {
    margin-bottom: 0;
}

#leftButton {
    background: #1da1f2;
    color: white;
}


main .right {
    width: 290px;
    margin: 0 auto 0 0;
}
.who {
    display: flex;
    /* align-items: center; */
    background: white;
    padding: 15px;
    flex-direction: row;
    margin-bottom: 1px;
}
.who > div {
    display: flex;
    flex-direction: column;
}
.who > div > div {
    display: flex;

}
.who h3, .who h4 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px; 
}

.who .accentColor {
    align-self: center;
}

.who .meta {
    font-size: 12px;
    align-self: baseline;
    position: relative;
    top: 3px;
}
.who a {
    color: black;
}

.who a:hover {
    color: #1da1f2;
    text-decoration-color: #1da1f2;
}
.who button {
    width: 89px;
    border-radius: 100px;
    background: white;
    align-self: flex-start !important;
    cursor: pointer;
}

button:hover {
    background: #1da0f22f;
}